{% include "partials/_header.html" %}
<div class="container-scroller">
  {% include "partials/_navbar.html" %}
  <div class="container-fluid page-body-wrapper">
    {% include "partials/_sidebar.html" %}
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid bg-primary py-2 mb-4">
                    <p class="mb-0 text-white">Leaver Settings</p>
                </div>
                
                <div class="row border-bottom mt-4 mb-4">
                    <div class="col col-6">
                        <m3>Enable Leaver</m3>
                    </div>
                    <div class="col col-6 text-right">
                        <label class="switch"><input id="enabled" type="checkbox" {{ "checked" if config['enabled'] else "" }}><span class="slider round"></span></label>
                    </div>
                    <div class="col col-12">
                        <p class="text-muted">When Leaver is enabled, the channel specified will log when users have left the server</p>
                    </div>
                </div>
    
                <div class="row border-bottom my-4">
                    <div class="col col-6">
                        <m3>Leaver Channel</m3>
                    </div>
                    <div class="col col-6 text-right">

                        <div class="scrollable-tt w-100">
                            <input id="channel" class="typeahead w-100 text-light" type="text" placeholder="Type a channel name" value="{{ config['channel'] }}">
                        </div>

                        <script>
                        var blood = new Bloodhound({
                            datumTokenizer: Bloodhound.tokenizers.whitespace,
                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                            local: {{ channellist | safe }}
                        });

                        $('.scrollable-tt .typeahead').typeahead(null, {
                            hint: true,
                            highlight: true,
                            limit: 100,
                            name: 'channels',
                            source: blood
                        });
                        </script>

                    </div>
                    <div class="col col-12">
                        <p class="text-muted">The channel leaver will use to send messages</p>
                    </div>
                </div>

                <div class="row border-bottom mt-4 mb-4">
                    <div class="col col-6">
                        <m3>Use Embeds</m3>
                    </div>
                    <div class="col col-6 text-right">
                        <label class="switch"><input id="embed" type="checkbox" {{ "checked" if config['embed'] else "" }}><span class="slider round"></span></label>
                    </div>
                    <div class="col col-12">
                        <p class="text-muted">When Enabled, leaver messages will be in an embed</p>
                    </div>
                </div>

                <div class="row border-bottom my-4">
                    <div class="col col-6">
                        <m3>Leaver Message</m3>
                    </div>
                    <div class="col col-6 text-right">
                        <textarea style="height: 200px;" id="message" type="text" class="form-control">{{ config['message'] }}</textarea>
                    </div>
                    <div class="col col-12">
                        <p class="text-muted">Configure the message that the leaver will use. Welcomer direct messages also support the use of formatting which you can find <a href="/formatting">here</a></p>
                    </div>
                </div>

                <div class="wrapper">
                    <a onclick="applychanges()" class="btn btn-outline-primary btn-block">Save changes</a>
                </div>

                <script>
                function applychanges() {
                    var data = {
                        enabled: document.getElementById("enabled").checked,
                        message: document.getElementById("message").value,
                        channel: document.getElementById("channel").value,
                        embed: document.getElementById("embed").checked,
                    };
                    $.ajax({method: "POST", data: data, dataType: "json",
                        success: function(data) {if (data.success == true) {$.toast({heading: 'Your settings have been applied', loaderBg: '#7289da', bgColor: '#5767a0', position: 'top-right', hideAfter: 5000, showHideTransition: 'fade', icon: 'success'})} else {$.toast({heading: 'Encountered an error whilst applying changes', loaderBg: '#7289da', bgColor: '#5767a0', text: data.error, position: 'top-right', hideAfter: 5000, showHideTransition: 'fade', icon: 'error'})}},
                        error: function() {$.toast({heading: 'An error had occured while applying settings', loaderBg: '#7289da', bgColor: '#5767a0', position: 'top-right', hideAfter: 5000, showHideTransition: 'fade', icon: 'error'})}
                    });
                };
                </script>
            </div>
        </div>
        {% include "partials/_footer.html" %}
    </div>
  </div>
</div>
{% include "partials/_ender.html" %}