{% include "partials/_header.html" %}
<div class="container-scroller">
  {% include "partials/_navbar.html" %}
  <div class="container-fluid page-body-wrapper">
    {% include "partials/_nondash_sidebar.html" %}
    <title>The future of Welcomer</title>
    <div class="container-scroller content-wrapper">
      <div class="container-fluid top-banner">
        <div class="row top-banner-content my-5">
          <div class="col-md-10 mx-auto">
            <div class="container">

                <ul>
                    <li><a href="#user-feedback-and-the-future-of-welcomer">User Feedback and the future of Welcomer</a>
                    <ul>
                    <li><a href="#how-users-find-out">How users find out</a></li>
                    <li><a href="#features-used">Features used</a></li>
                    <li><a href="#the-dashboard-and-overall-experience">The Dashboard and overall experience</a></li>
                    <li><a href="#improvements">Improvements</a></li>
                    <li><a href="#donators">Donators</a></li>
                    <li><a href="#recommending">Recommending</a></li>
                    <li><a href="#extra-questions">Extra questions</a></li>
                    <li><a href="#the-future">The future</a></li>
                    </ul>
                    </li>
                    </ul>
                    
                        </div>
                      </div>
                      <div class="stackedit__right">
                        <div class="stackedit__html">
                          <h1 id="user-feedback-and-the-future-of-welcomer">User Feedback and the future of Welcomer</h1>
                    <p>Recently I have created form both advertised on the <a href="https://welcomer.gg/i/welcomer">support server</a> and the index page of the <a href="https://welcomer.gg">website</a>. This feedback form had many questions that I know the userbase would want to provide but had not provided on their behalf. As I wanted to know what their opinions were, I had created this form as a medium for them to express this. This form had many questions that are going to affect the future of the bot as I wanted to see how welcomer is being used, being found out and how people are using it.</p>
                    <h2 id="how-users-find-out">How users find out</h2>
                    <p>For the first question, I had asked how they found out about welcomer. To keep it broad I gave a few stock answers however I kept it open in the event there were other ways. I would have expected a majority of users to find it out through bot listing sites however it seems it was a tie between seeing it on another server or a bot listing site with both having a percentage of <strong>31.3%</strong>.<br>
                    What this shows is that over time, due to how saturated the market for bots is and how bloated sites such as discordbots have become, it is becoming less effective to be using these sites and I should be focussing my aims not on gaining new users, but strengthening relationships with existing servers as these are the main sources of new users.</p>
                    <p>One contribution towards this in my eyes is since the first thing you will experience when joining the server, is not the community, but it is the welcomer bot. It could be for many reasons such as validation through border wall, sending them rules lists or just welcoming them to the server with a custom image. This is because, the first contact is usually the most memorable and the most important moment for any user on the server, so it is important that I greatly focus on these first contacts.</p>
                    <p>Another area that popped up a lot on the survey was that word of mouth which would contribute to the ideology that preexisting relationships would need to be strengthened. It is more important to have a small collection of large communities rather than a large collection of small communities.</p>
                    <p><strong>Where did you find out about Welcomer</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Bot listing sites</td>
                    <td>31.3%</td>
                    </tr>
                    <tr>
                    <td>Someone else server</td>
                    <td>31.3%</td>
                    </tr>
                    <tr>
                    <td>Word of mouth</td>
                    <td>18.8%</td>
                    </tr>
                    </tbody>
                    </table><h2 id="features-used">Features used</h2>
                    <p>As expected, I would have known there are many features that users would not use and certain features that would be unsurprisingly popular.<br>
                    As you would have expected, welcoming was the most popular feature however the purpose was to find the distribution and the features that not many people use.</p>
                    <p>Whilst this does not generally dictate if features are being used, it will help with time management in the future as if certain features are not necessarily being used it could show that they are either undeveloped; a user just does not know about them or are not interested.</p>
                    <p>An important part of growth for any discord bot is to ensure that they can provide a high-quality service as possible as at the end of the day, welcomer is still a bot as a product. Features such as auto roles, leaver and auto moderator are also very important and show that users would love more features that can automate the overall flow of their discord server or doing features that can be more personalised. By using features such as auto roles, it can show that they want their servers to be more unique and shows that in the future, I should be seeing this trend and be able to add new features that can help users without them even needing to ask.</p>
                    <p>As a follow up to if users did not know about certain features, I had then asked the question <strong>What features did you not know existed</strong>. This was to show some sort of reason to why certain features were less known as some features are not as heavily advertised. By seeing so many people saying responses such as <code>everything except welcomer</code>, it shows a clear problem at the moment with how the bot is featured.</p>
                    <p>At the moment, it shows users only believe that the bot welcomes which greatly detriments on its growth as many users are unaware of its other features as a multi-purpose bot however thankfully the majority of users know other features exist. It is important that at first glance, you can tell that it is a multipurpose bot which can be improved both how it is generally perceived and an overall redesign of the website as it describes the features very vaguely.</p>
                    <p><strong>What features do you use</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Feature</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Welcomer</td>
                    <td>86.7%</td>
                    </tr>
                    <tr>
                    <td>Auto Roles</td>
                    <td>46.7%</td>
                    </tr>
                    <tr>
                    <td>Leaver</td>
                    <td>40%</td>
                    </tr>
                    <tr>
                    <td>Auto Moderator</td>
                    <td>33.3%</td>
                    </tr>
                    <tr>
                    <td>Rules</td>
                    <td>26.7%</td>
                    </tr>
                    <tr>
                    <td>Logging</td>
                    <td>26.7%</td>
                    </tr>
                    <tr>
                    <td>Borderwall</td>
                    <td>20%</td>
                    </tr>
                    <tr>
                    <td>Free Roles</td>
                    <td>13.3%</td>
                    </tr>
                    <tr>
                    <td>Moderation</td>
                    <td>13.3%</td>
                    </tr>
                    <tr>
                    <td>Name Purge</td>
                    <td>13.3%</td>
                    </tr>
                    <tr>
                    <td>Server Stats</td>
                    <td>6.7%</td>
                    </tr>
                    <tr>
                    <td>Temporary Channels</td>
                    <td>6.7%</td>
                    </tr>
                    </tbody>
                    </table><p><strong>What features did you not know existed</strong></p>
                    <ul>
                    <li><code>Temp Channels</code></li>
                    <li><code>Most of them</code></li>
                    <li><code>Server Stats</code></li>
                    <li><code>Server Stats, Name Purge</code></li>
                    <li><code>Server Stats</code></li>
                    <li><code>Temp Channels and Name Purge</code></li>
                    <li><code>Everything except welcomer</code></li>
                    <li><code>Name Purge</code></li>
                    </ul>
                    <h2 id="the-dashboard-and-overall-experience">The Dashboard and overall experience</h2>
                    <p>Adding an online dashboard and bringing the focus was a great success both when it was deployed and continued to this day. The purpose of it was to make the configuration of the bot as easy as possible, due to many issues before such as so many commands and confusing syntax.<br>
                    (When welcomer was first released, there was no <code>+welcomer setchannel</code>, it was <code>+config set welcomer.channel id</code>. Yikes).<br>
                    Also by adding a dashboard, it has allowed for much more customisability of how the user experience is and allows for better control of how users configure.  In the survey, the simple question of if people knew they could use the dashboard was asked. Thankfully <strong>87.5%</strong> already knew that they could configure through the dashboard, however, it is not <strong>100%</strong>. This means that some measurements will still need to be taken into place such as showing the site in the status which will benefit new users aswell for knowing where to go for the right information.</p>
                    <p>Some other questions asked include how often they use the dashboard and their experience with it. This ranged from 1 (Not often) to 5 (Majority of the time). This does not show if it is successful or not however is useful for showing an insight into how users will be using the bot. In this question, Majority of the time was the majority with 31.3% whilst 1, 2 and 3 all tied with 18.8%.  This shows that people still do often use it but some users do not see the point of it. This does not negatively impact as the dashboard as it could be the case where they would not necessarily use it.</p>
                    <p><strong>Did you know you can configure welcomer on the online dashboard</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Yes</td>
                    <td>87.5%</td>
                    </tr>
                    <tr>
                    <td>No</td>
                    <td>12.5%</td>
                    </tr>
                    </tbody>
                    </table><p>Just to ensure it was not a problem with their experiences, the question “How was your experience with the dashboard” was asked with 1 being Not satisfied to 5 being Satisfied. All users had voted 3 or higher showing the problem was not with the dashboard, but just they did not need it. For the question, 56.3% had answered satisfied which gives confidence in the dashboard and lets me know that I can rely on it.</p>
                    <p><strong>How often do you use the dashboard</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>5</td>
                    <td>31.5%</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>12.5%</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>18.8%</td>
                    </tr>
                    <tr>
                    <td>2</td>
                    <td>18.8%</td>
                    </tr>
                    <tr>
                    <td>1</td>
                    <td>18.8%</td>
                    </tr>
                    </tbody>
                    </table><p><strong>What is your overall experience with the dashboard</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>5</td>
                    <td>56.3%</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>25%</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>18.8%</td>
                    </tr>
                    </tbody>
                    </table><p>The last question asked in relevance to their experience, was how comfortable it was to operate the bot both on the website and through commands. Just like with the experience on the dashboard, the results still having a lead for 5 - comfortable.</p>
                    <p><strong>What is your overall experience with the dashboard</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>5</td>
                    <td>56.3%</td>
                    </tr>
                    <tr>
                    <td>4</td>
                    <td>18.8%</td>
                    </tr>
                    <tr>
                    <td>3</td>
                    <td>25%</td>
                    </tr>
                    </tbody>
                    </table><h2 id="improvements">Improvements</h2>
                    <p>Now for one of the harder categories to digest would be where welcomer would need to improve in its many features. However, unexpectedly the majority of users had positive comments or said there was nothing that would have needed to be improved (unless you count <code>improvements</code> as beneficial). One problem users had was setting up the bots for the first time and I can agree it is very difficult for new users who have no idea for what they are doing.</p>
                    <p>Over time, I have seen these issues and have attempted to make setup as simple as possible by removing useless features such as having to enable text or images and making it that you only have to set a channel, however it seems people are still confused despite this. The most asked improvement was to show examples or making a step-by-step video on how to set the bot up or adding some sort of auto-setup or wizard to the bot.</p>
                    <p>In the future, i will definitely be expanding on the current guidelines on how to set up the bot and will try to release high quality tutorials on how to set the bot up, however that may have to be delayed until the next major update to ensure it can be up to date as possible and would not have to remake it later on.</p>
                    <p><strong>What do you feel could be improved when setting the bot up?</strong></p>
                    <ul>
                    <li><code>A little more help</code></li>
                    <li><code>An auto setup feature</code></li>
                    <li><code>More guideline/video step by step on how to use</code></li>
                    <li><code>Nothing</code></li>
                    <li><code>More updates and improvements</code></li>
                    <li><code>Show examples of the commands</code></li>
                    <li><code>Idk, It's very good already.</code></li>
                    <li><code>I think the bot is great and it doesn't need any improvements!</code></li>
                    </ul>
                    <p>I had also asked if they had ever experienced issues with setting the bot up. Most comments were either a version of “No”, however, a few comments showed minor issues that have since been fixed or they have asked our lovely support team that helped on their server.  Just like with previously mentioned, I will be working on some sort of guidelines on how to set everything up with proper examples.</p>
                    <p>One question being how to redeem their donator status, was quite confusing as I have attempted to put the information to do this on as many places as possible. To the point, at one point it was in massive bold text on the patreon page in case you missed it. Despite this, I can agree the current system is very confusing and I will elaborate in the donator chapter.</p>
                    <p><strong>Did you have any troubles setting up the bot and what were they?</strong></p>
                    <ul>
                    <li><code>Because of my stupidity, yes</code></li>
                    <li><code>Bot was having issues working on the server for a bit of time but was fixed</code><br>
                    <code>No proper guideline, but your moderator staff are all helpful :]</code></li>
                    <li><code>The first time I set up the Autorole I remember the bot didn't want to give the role to new people. So I then asked one of your staff and he basically removed it and then added again. Not sure why the first "successful" command was not so successful lol.</code></li>
                    <li><code>I had trouble redeeming my donator status for custom backgrounds. At the time there was no clear guide or anything pointing to the command I needed.</code></li>
                    <li><code>I didn't have any trouble trying to set up the bot; it was quite straightforward.</code></li>
                    </ul>
                    <h2 id="donators">Donators</h2>
                    <p>As the backbone of keeping welcomer up, it is important that I can keep the bot up and running and see peoples opinions on welcomer. The first question was if the users had donated before with <strong>40%</strong> stating that they have.</p>
                    <p><strong>Have you donated before?</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Yes</td>
                    <td>40%</td>
                    </tr>
                    <tr>
                    <td>No</td>
                    <td>60%</td>
                    </tr>
                    </tbody>
                    </table><p>The first problem with this part of the survey is users who may not have donated, could have answered yes which could cause data that may not be useful. When asking if it was too hard to add memberships to servers, <strong>36.4%</strong> of users had answered with yes which should hopefully decrease when the new system is implemented.</p>
                    <p><strong>If you had donated before, did you believe it was too hard to add memberships to servers?</strong></p>
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Response</th>
                    <th>Percentage</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>Yes</td>
                    <td>36.4%</td>
                    </tr>
                    <tr>
                    <td>No</td>
                    <td>64.6%</td>
                    </tr>
                    </tbody>
                    </table><p>This new system will let you select your guilds directly on the site without remembering any commands and will be automatic. Other systems will be also added to help with the problem of users not receiving their rewards, by being able to directly link them to the page where they could add the membership will be one layer to this however another common problem is through patreon. The problem with this is it is very often people forget to link their discord account to patreon then unpledge because they didn’t receive their rewards despite massive text saying to ensure this.</p>
                    <p>In the future, I will attempt to mitigate this by having an automatic mail system in place to inform users that pledge that they have not bound a discord to their patreon. Other benefits of this patreon system would be welcoming new users to the patreon (think about a watered-down version of welcomer for patreon).</p>
                    <p>Unfortunately, it seemed no one responded to the question for why they had stopped donating. Maybe they are still pledging?</p>
                    <h2 id="recommending">Recommending</h2>
                    <p>One of the last questions was if they would recommend welcomer to other users and why this would be. As expected, this was filled with many positive responses and helps with how people perceive the bot to be. Some examples of what perceive the bot to include:</p>
                    <ul>
                    <li>Lots of options</li>
                    <li>Unique in how it welcomes users with embeds</li>
                    <li>Easy to setup</li>
                    <li>Easy to use dashboard</li>
                    <li>Cool customisation options for welcome messages</li>
                    <li>Helpful and active staff and support</li>
                    <li>Unique features (Temporary channels, Borderwall)</li>
                    <li>Lots of options to manage</li>
                    <li>Great features</li>
                    <li><s>no never shall I commit this crime</s></li>
                    </ul>
                    <h2 id="extra-questions">Extra questions</h2>
                    <p>Lastly, I just asked if you had any questions you wanted to ask :)</p>
                    <p><code>Why is it called welcomer if it does more than just welcoming?</code><br>
                    When it was made, it was a private discord bot for one server and was only for welcoming. Since then it has expanded to more features and was made public. No idea why I never changed its name, I should have but by the time I thought I should, it was too late. Changing it now would be bad</p>
                    <p><code>Can you add trains</code><br>
                    🤔 sure.</p>
                    <p><code>yes why no delete bot:-]</code><br>
                    Because its an amazing bot :^)</p>
                    <p><code>How is your day today? &lt;3</code><br>
                    Thanks! Todays going pretty good. Pretty tired tho. I’ve typed a lot today…</p>
                    <p><code>Could you add a design maker for users who would like to customise their welcome and leaver images?</code><br>
                    I’ll look into it! One problem with making any sort of product is balancing user-friendliness and new features. The problem with this is first: it will be a lot of coding both on the front end and backend. Some users just may not be able to use the dashboard so it would be unfair for them and why don’t you like the current designs? Why not elaborate in the suggestions channel and ill see what I can do.</p>
                    <p><code>Nope!</code><br>
                    Well, that’s a shame…</p>
                    <h2 id="the-future">The future</h2>
                    <p>After the past and present, it’s the future. I do not want to write too much but at the same time, I have a lot to write.</p>
                    <p>One problem earlier on in welcomers lifespan was me having constant OCD with both the codebase and the bot where every few months I would do complete rewrites of the entire bot because I just thought it would not look nice.</p>
                    <p>Thankfully since releasing 7.0, I have been able to stop myself from doing this however at the same time I have had many problems recently due to it such as demotivation and burnout. Having constant problems such as the cluster 2 issue or having hosting problems due to a lack of patronage can put quite a lot of stress on specifically when the only form of income keeping the bot up is from the users and I would love to be able to keep the bot sustainable but at the moment it seems it is still not possible yet despite all efforts made.</p>
                    <p>All of this said, one problem I guess could be the efficiency. At the moment the bot runs on around 24 processes and a few extra to run the website, content delivery on <a href="https://cdn.welcomer.gg">https://cdn.welcomer.gg</a> and the backend that creates images. The content delivery and the backend are all completely fine but the biggest problem at the moment is the 24 processes. The problem with python is that a process is technically only able to use one thread at a time due to the GIL (unless I use a different compiler which I doubt is a good idea) so I have had to overcome this by running so many processes so that each one does not get affected when there is ever some sort of unexpected load.</p>
                    <p>The problem with this is when there is no load which is the majority of the time and the overhead of the entire bot. One thing that discord had released was the guild subscriptions tag which allowed for bots to become stateless. At the moment welcomer receives over <strong>250000 events a minute</strong> which is a lot with around 90% of these all being presence updates. These guild subscriptions promise to be the haven of discord bots as it removes these and the requirement of a cache. The only problem is the many things they do not mention anywhere within their documentation such as events like members joining, members leaving, members updating, member bans, member unbans etc are no longer sent to the bot. I don’t know about you but a welcomer bot would need to get the events when a user joins the server.</p>
                    <p>Other problems at the moment are that <a href="http://discord.py">discord.py</a> has a bunch of overhead when you run this many processes. For example at the moment, welcomer is using around 55gb of memory which is completely unnecessary and on a fresh start would be around 20gb. The way I want to tackle this is to instead migrate from using <a href="http://discord.py">discord.py</a> to my library called <strong>sandwich</strong> which will use python still to process the bot commands and stuff however the entire bot connection part will be running in go.</p>
                    <p>This will greatly benefit welcomer as it means fewer processes would be necessary and resources could be used more efficiently as the footprint would be considerably lower. This also means that I can theoretically have complete downtime on the actual python end which will process the events such as a user joining however as the processing and the actual bot handler are completely separated, the bot will be able to function fine when the python part is running. The only problem at the moment is that <strong>sandwich does not exist yet</strong>. I will be hopefully developing it in small packages to reduce any sort of burnout or demotivation and I will only start at a point where I can be like “welcomer will work completely fine for a few weeks whilst I do this”. Recently I have been doing many updates such as improving both the bot and website QoL (Quality of Life) such as an improved guild selection screen and channel picker.</p>
                    <p>It may not seem like I am doing much with welcomer, however the majority of the time I just don’t bother putting the updates in the update channel as they may be either small updates or I just forget (like most of the time). One problem I do not want to do is guarantee features or announce it early as every time I do it and then I rush which causes features that are either rushed, break on the release or just don’t exist.</p>
                    <p>I do not want to rush development to ensure that it can run perfectly fine and bug-free. I do not want to make any sort of promises to ensure I can work efficiently and provide the highest quality features without any sort of stress from artificial deadlines and I want to be able to make the next version of welcomer better. Without the community, welcomer would not exist. Please don’t believe your features are being ignored if you do not see them, I may just not have the time right now to do it as I have many other things to do at the same time.</p>
                    <p>Cheers,</p>
                    <p><strong>ImRock</strong><br>
                    <code>Founder, Developer &amp; Maintainer of Welcomer</code></p>

              
            </div>
          </div>
        </div>
      </div>
      {% include "partials/_footer.html" %}
    </div>
  </div>
</div>
{% include "partials/_ender.html" %}
