{% block footer %}
<!-- Ezoic - ad-placeholder-1 - bottom_of_page -->
<div id="ezoic-pub-ad-placeholder-101"> </div>
<!-- End Ezoic - ad-placeholder-1 - bottom_of_page -->
    <!-- <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Hand-crafted & made with
                <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer> -->
{% endblock %}