{% block header %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Welcomer is a multipurpose discord bot mainly known for the customisation of welcome images. This bot also includes many other features.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="HBWy5i7x5kRDlrQly2Pk2DDPo4p4luULGfD690YMeX8">
    <meta name="theme-color" content="#202225">
    <meta name="propeller" content="32fb31b3f5c88ae9955f73203a16dc09">

    <title>Welcomer Bot, the go-to bot for your discord server</title>

    <!-- <link rel="stylesheet" href="/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css"> -->
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/3.6.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/iconfonts/puse-icons-feather/feather.css">
    <link rel="stylesheet" href="/static/vendors/icheck/skins/all.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="/static/css/shared/style.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dark-theme.css">

    <link rel="shortcut icon" href="/static/images/favicon.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicon.png">

    <script src="/static/js/sorryformymassivejsfile.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119872556-1"></script>

    <script data-ad-client="ca-pub-1591518427152619" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119872556-1');
    </script>
</head>
<body class="dark-theme sidebar-dark sidebar-icon-only">
{% endblock %}