{% block sidebar %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/donate" style="background: rgb(231, 81, 59); color: white;">
                    <i class="menu-icon mdi mdi-gift"></i>
                    <span class="menu-title">Donate</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/invite/welcomer" style="background: #7289da; color: white;">
                    <i class="menu-icon mdi mdi-lifebuoy"></i>
                    <span class="menu-title">Support Server</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="menu-icon mdi mdi-format-list-bulleted-type"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/backgrounds">
                    <i class="menu-icon mdi mdi-image-filter"></i>
                    <span class="menu-title">Backgrounds</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">
                    <i class="menu-icon mdi mdi-search-web"></i>
                    <span class="menu-title">Server Search</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchemojis">
                    <i class="menu-icon mdi mdi-search-web"></i>
                    <span class="menu-title">Emoji Search</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/status">
                    <i class="menu-icon mdi mdi-heart-pulse"></i>
                    <span class="menu-title">Bot Status</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/formatting">
                    <i class="menu-icon mdi mdi-playlist-star"></i>
                    <span class="menu-title" style="color: #7289da;">Formatting</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customembeds">
                    <i class="menu-icon mdi mdi-playlist-edit"></i>
                    <span class="menu-title" style="color: #7289da;">Custom Embeds</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/documentation">
                    <i class="menu-icon mdi mdi-book-multiple-variant"></i>
                    <span class="menu-title" style="color: #7289da;">Documentation</span>
                </a>
            </li>
            <li class="nav-item">
                {% raw %}
                {% endraw %}
            </li>
            <li class="nav-item">
                <!-- Ezoic - sidebar - sidebar_bottom -->
                <div id="ezoic-pub-ad-placeholder-102"> </div>
                <!-- End Ezoic - sidebar - sidebar_bottom -->
            </li>
        </ul>
    </nav>
{% endblock %}