{% extends "navigation-menu.html" %}

{% block content %}

<html>

    <head>
        
        <link rel="stylesheet" href="https://welcomer.fun/static/style.css">

    </head>
    <body>

        <div class="homeText">

            <img src="https://discordemoji.com/assets/emoji/HyperTada.gif">
            <audio autoplay src="https://welcomer.fun/static/tadasound.mp3"></audio>

            <div class="homeTextTitle">
                    {% endblock %}
                Thank you for donating towards welcomer, {% endblock %}{% block content %}!
                
            </div>
            <div class="homeTextDesc">
                You should be able to get your role as soon as possible :)
            </div>

        </div>

    </body>

</html>
{% endblock %}